
<div class="sessions">
  <!-- TODO: sort sessions by start time -->
  <div>
    <label for="filter-box">Filter:</label><input type="search" id="filter-box" ng-model="filterBox" placeholder="Type to filter sessions..."></input>
    <a href="" ng-click="filterType = 'all'">All</a><span> | </span><a href="" ng-click="filterType = 'day'">Today</a>
  </div>
  <hr>
  <ul class="session" ng-repeat="session in sessions | filter:filterBox | filter:sessionFilter | orderBy:'startTime'">
    <li class="topic">{{session.topic}}</li>
    <li class="description">{{session.description}}</li>
    <li class="time">{{session.startTime}}</li>
    <li class="tutor"><span class="tutorName">Tutor: </span>{{session.username}}</li>
    <!-- <li class="hangout button"><a href="{{session.link}}">Join Hangout</a></li> -->
    <li class="register button" ng-if="session.status===true">Session Full</li>
    <!-- <li class="register button" ng-click="startRegister(this)" ng-if="session.status===false  || session.status===null">Register</li> -->
    <li ng-if="session.status===false  || session.status===null"><input ng-model="email" type="text" placeholder="enter email"/><button ng-click="register($index, email, session.link)">Register</button></li>
  </ul>
</div>
