
<div class="sessions">
  <!-- TODO: sort sessions by start time -->
  <ul class="session" ng-repeat="session in sessions">
  <li class="topic">{{session.topic}}</li>
    <li class="description">{{session.description}}</li>
    <li class="time">{{session.startTime}}</li>
    <li class="tutor"><span class="tutorName">Tutor: </span>{{session.username}}</li>
    <li class="hangout button"><a href="{{session.link}}">Join Hangout</a></li>
    <li class="register button" ng-if="session.status===true">Session Full</li>
    <li class="register button" ng-if="session.status===false">Register</li>
  </ul>
</div>
