
<div class="imageContainer">
  <p class="intro">Share your knowledge or learn something new. It’s fun and easy to connect in<br>30-minute, one-on-one tutoring sessions. If you have a skill to share, sign up and create a session.<br>If you want to learn, find a topic that interests you, enter your email, and click register.</p>
  <div class="filtersContainer">
    <div class="select">
      <span class="arrow"></span>
      <select class="categories" ng-model="filterOptions">
        <option value="" selected>Choose Category</option>
        <option value="">Show All</option>
        <option value="Programming">Programming</option>
        <option value="Language">Language</option>
        <option value="Design">Design</option>
        <option value="Music">Music</option>
        <option value="Wellness">Wellness</option>
        <option value="Cooking">Cooking</option>
      </select>
    </div>
    <div class="filter">
      <input type="search" class="filterBox keywordFilter" ng-model="filterBox" placeholder="Type keyword to filter sessions..."></input>
      <div class="filterBox dateFilter">
        <p>Filter by day: &nbsp;<a href="" ng-click="filterType = 'all'">All</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" ng-click="filterType = 'day'">Today</a></p>
      </div>
    </div>
  </div>
</div>
<div class="featured">
  <img src="images/featured.gif">
</div>

<div class="sessionContainer"> 
  <ul class="session" ng-class="session-{{session.category}}" ng-repeat="session in sessions | filter:filterBox | filter:sessionFilter | filter:filterOptions | orderBy:'startTime'">
    <img class="photo" src="images/{{session.category}}.jpg">
    <li class="topic">{{session.topic}}</li>
    <li class="description">{{session.description}}</li>
    <li class="category"><span class="bold">Category: </span>{{session.category}}</li>
    <li class="tutor"><span class="bold">Tutor: </span>{{session.User.username}}</li>
    <li class="time"><span class="bold">{{displayTime(session.startTime)}}</span></li>
    <li class="session-full button" ng-if="session.status===true">Session Full</li>
    <li class="registration" ng-if="session.status===false  || session.status===null"><input ng-model="email" type="text" placeholder="enter email"/><button class="button" ng-click="register(session, email)">Register</button></li>
  </ul>
</div>
