html {
  padding: 0;
  margin: 20px 0;
}
body {
  font-size: .9em;
  font-family: Hind, sans-serif;
  line-height: 1.5;
}
.container {
  width: 100%;
  margin: 0;
}
.image-container {
  background-color: #a4482c;
  width: 100%;
  text-align: center;
  border-top: 7px solid #a4482c;
  border-bottom: 7px solid #993e22;
  margin: 0;
  background-image: url("../images/background.gif");
  height: 350px;
}
.intro {
  max-width: 900px;
  margin: 55px auto;
  font-size: 1.45em;
  font-weight: 500;
  color: #ffefea;
  line-height: 2;
}
.mainHead {
  height: 100px;
  margin: 0 auto;
  color: #1b4f65;
  max-width: 1000px;
  position: relative;
}
.clock {
  position: absolute;
  top: 25px;
  left: 20px;
}
.header {
  float: left;
  font-size: 3em;
  font-weight: 700;
  margin-top: 45px;
  margin-left: 130px;
}
a {
  text-decoration: none;
  color: #1b4f65;
}
.nav {
  float: right;
  margin-right: 30px;
  font-size: 1.3em;
  margin-top: 69px;
}
.bold {
  font-weight: 600;
}
.sessions {
  max-width: 1200px;
  margin: 0 auto;
}
.featured {
  height: 70px;
  width: 850px;
  margin: 30px auto 10px;
}
.filters {
  max-width: 710px;
  height: 50px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .2);
  border: 1px solid #a4482c;
}
.filter-box {
  height: 42px;
  width: 258px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #a4482c;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 10px;
  padding-left: 14px;
  padding-bottom: 3px;
  font-size: 1.15em;
}
.date-box {
  height: 33px;
  width: 194px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #a4482c;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-bottom: 0;
  padding: 12px 15px 1px;
  font-size: 1.2em;
}



/*
old styles
*/
.session {
  overflow: hidden;
  list-style: none;
  background-color: #efefef;
  padding: 25px;
  margin: 20px 23px;
  display: inline-block;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  position: relative;
  border: 1px solid #ccc;
}
.sessionInfo {
  list-style: none;
  padding: 15px;
}
.photo {
  border-radius: 10px 10px 0 0;
  margin-left: -25px;
  margin-top: -25px;
  margin-bottom: 20px;
}
.topic {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 5px;
}
.description {
  margin-bottom: 20px;
}
.time {

}
.tutor {
  margin-bottom: 20px;
}
.button {
  float: right;
  background-color: #666;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.session-full {
  position: absolute;
  bottom: 21px;
  right: 23px;
  font-family: Hind, sans-serif;
  padding: 7px 12px;
  background-color: #1d5268;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1.05em;
}
.registration {
  position: absolute;
  bottom: 21px;
  right: 23px;
  font-family: Hind, sans-serif;
}
.registration input {
  font-size: 1.05em;
  border-radius: 5px;
  padding: 5px 8px;
  width: 120px;
  margin-right: 5px;
  font-family: Hind, sans-serif;
}
.registration button {
  font-size: 1em;
  border-radius: 5px;
  padding: 6px 12px;
  font-weight: 600;
  font-family: Hind, sans-serif;
  background-color: #1d5268;
  color: #fff;
  border: 0;
  font-size: 1.05em;
}

/*
datepicker styles
*/ 
.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 11px;
    color: #8f0714;
    margin: 10px 0 0 25px; }

