  body {
    margin: 50px;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  .mainHead {
    height: 100px;
    width: 90%;
    clear: both;
  }
  .header {
    float: left;
    position: relative;
  }
  .signButton {
    float: right;
    position: relative;
    margin-top: 15px;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px 15px;
    border: 0;
    font-weight: bold;
  }
  .sessions {
    clear: both;
    position: relative;
  }
  .session {
    list-style: none;
    background-color: #ccc;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 10px;
    max-width: 400px;
  }
  .sessionInfo {
    list-style: none;
    padding: 15px;
  }
  .title {
    font-size: 1.3em;
    font-weight: bold;
  }
  .description {
    font-size: .9em;
    margin-bottom: 10px;
  }
  .time {
    font-weight: bold;
  }
  span.Tutor {
    font-weight: bold;
  }
  .hangoutLink {
    float: right;
    background-color: #666;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .container a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
  }
  .register {
    font-weight: normal;
    float: right;
    background-color: #666;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
  }
